
@model EZFormsPrototype.Models.Field

@{
    ViewBag.Title = "New Field";

}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

    </div>
}

<div>
    @Html.ActionLink("Back", "Details", "Form", new {id="1"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
