@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>A form builder for all your regulatory needs</p>
</main>

@{ 
//TODO: Detailed notes on Html helper
//TODO: Detailed notes on db context use in controllers
//TODO: Detailed notes on Redirect Action and View()
}