
@{
    ViewBag.Title = "Laboratory";
    Layout = "CreateField";
    //TODO: Test dynamic jQuery form inputs here

    //TODO: Create Flag Generator
    //TODO: Dropdown for field types
    //TODO: better display for fields in form details
}

<h2>Laboratory</h2>

